.bannerCatalog {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.title {
    position: absolute;
    bottom: 53%;
    left: 10%;
}
.h1 {
    font-size: 34px;
    margin-top: 20px;
}
.h4 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
}