:root {
  --white: #FFFFFF;

  --light-gray: #F6F6F6;
  --light-gray-200: #E8E9EA;

  --gray: #D1D1D3;

  --yellow: #FCEC41;

  --red: #F10809;

  --dark-blue-500: #5D6066;
  --dark-blue-600: #454950;
  --dark-blue-700: #2F323A;
  --dark-blue-800: #171B24;
}