@use "../../../assets/scss/common/mixins" as mixin;

.about {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: url("/img/about-company.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  &__content {
    padding: 88px;
    @include mixin.flex(null, null, column, 20px);

    @media screen and (max-width: 1120px) {
      padding: 65px;
    }

    @media screen and (max-width: 520px) {
      padding: 40px;
      gap: 10px;
    }

    @media screen and (max-width: 420px) {
      padding: 30px;
    }
  }

  &__title {
    @include mixin.font(34px, 600, normal, var(--dark-blue-700));

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 520px) {
      font-size: 20px;
    }
  }

  &__info {
    max-width: 670px;
    @include mixin.flex(null, null, column, 20px);

    @media screen and (max-width: 1120px) {
      max-width: 570px;
    }

    @media screen and (max-width: 520px) {
      gap: 10px;
    }
  }

  &__desc {
    @include mixin.font(16px, 400, normal, var(--dark-blue-700));

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media screen and (max-width: 520px) {
      font-size: 12px;
    }
  }
}